<!DOCTYPE html>
<html lang="en">
<head>
<style>
h1 {
    text-align: center;
}
</style>
    <title>Robony</title>

    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width", initial-scale=1">
    <link href="{{ url_for("static",filename="css/bootstrap.min.css") }}" rel="stylesheet">

</head>
<header>
    <h1>Welcome to Robony's Website</h1>
    <img style="display: block; max-width: 250px; margin-top: 50; margin-left: auto; margin-right: auto;"
         src="{{ url_for("static",filename="img/WeddingCeremony.jpg") }}">
    <img style="display: block; max-width: 250px; margin-top: 50; margin-left: auto; margin-right: auto;"
         src="{{ url_for("static",filename="img/WeddingReception.jpg") }}">
    <img style="display: block; max-width: 250px; margin-top: 50; margin-left: auto; margin-right: auto;"
         src="{{ url_for("static",filename="img/Kids1.jpg") }}">
</header>
<body>
<script type="text/javascript" src="{{ url_for("static", filename="js/bootstrap.min.js") }}">
</script>
</body>






</html>